.PostList__img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.PostList__container{
    width: 300px;
    background-color: #BAA791;
    height: 450px;
    border-radius: 5%;
    margin-bottom: 50px;
}
.PostList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.PostList__Add-title{
    width: 1440px;
    
}
.PostList__Add-container{
    position: relative;
    margin-bottom: 50px;

}
.PostList__Add{
    position: absolute;
    top: 50px;
    right: 15px;
}